/* Estilo geral */
header {
  position: relative;
  height: 200px;
  background-color: #f4f4f4;
}

nav {
  position: relative;
  height: 100%;
}

.objeto {
  width: 50px;
  height: 50px;
  background-color: red;

  /* Posiciona no canto inferior esquerdo */
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  header {
    height: 150px; /* Diminui o header em telas menores */
  }

  .objeto {
    width: 40px; /* Reduz o tamanho do objeto */
    height: 40px;
  }
}

@media (max-width: 480px) {
  header {
    height: 120px; /* Ajusta o header para telas bem pequenas */
  }

  .objeto {
    width: 30px; /* Reduz ainda mais o tamanho do objeto */
    height: 30px;
    bottom: 10px; /* Ajusta a posição no mobile */
    left: 10px;
  }
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #0073e6;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    color: #555;
}

/* Introdução */
.intro {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(2, 71, 23, 0.568);
    color: #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
}

.intro h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.intro p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* link do telegram */
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2600ff;
    color: #fff;
    border-radius: 10px;
    font-size: 1em;
    transition: background-color 0.3s;
}

/* Rodapé */
footer {
    margin-top: 25px;
    font-size: 0.8em;
    color: #777;
    text-align: center;
}

